<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuqisan.ppai.operator.user.mapper.MenuMapper">
    <select id="getMenuList" resultType="com.wuqisan.ppai.base.bean.DictItem">
        SELECT dict_id,
               name,
               description,
               group_id,
               status,
               create_time,
               create_user,
               update_time,
               update_user
        from dict_item
        WHERE group_id='menu_list'
        and status=1
        order by sort asc
    </select>
    <select id="getChildrenMenu" resultType="com.wuqisan.ppai.operator.user.bean.MenuInfo">
        SELECT menu_id,
               name,
               description,
               url,
               icon,
               status,
               create_time,
               create_user,
               update_time,
               update_user,
               auth_id,
               @rownum:=@rownum+1  id
        from menu_info,(SELECT @rownum:=0) a
        WHERE auth_id in (SELECT auth_id from auth WHERE user_id = #{userId})
        and parent_id=#{parentId}
        order by sort asc
    </select>
</mapper>