<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../../plugins/element-ui/index.css"/>
    <link rel="stylesheet" href="../../../styles/common.css"/>
</head>
<body>
<div class="addBrand-container" id="member-add-app">
    <div class="container" style="margin: 40px 40px 40px 40px">
        <el-form
                ref="ruleForm"
                :model="ruleForm"
                :inline="false"
                label-width="180px"
                class="demo-ruleForm"
        >
            <el-form-item label="年级:" prop="grade">
                <el-input-number v-model="ruleForm.grade" :min="1" :max="12"></el-input-number>
            </el-form-item>
            <el-form-item
                    label="班级:"
                    prop="class"
            >
                <el-input-number v-model="ruleForm.class" :min="1" :max="99"></el-input-number>
            </el-form-item>
            <el-form-item
                    label="状态:"
                    prop="status"
            >
            <el-switch
                    v-model="ruleForm.status"
                    active-color="#13ce66"
                    inactive-color="#ff4949">
            </el-switch>
            </el-form-item>

            </el-form-item>

            <div class="subBox address">
                <el-form-item>
                    <el-button @click="goBack()">
                        取消
                    </el-button>
                    <el-button
                            type="primary"
                            @click="submitForm('ruleForm', false)"
                    >
                        保存
                    </el-button>
                    <el-button
                            v-if="actionType == 'add'"
                            type="primary"
                            class="continue"
                            @click="submitForm('ruleForm', true)"
                    >
                        保存并继续添加
                    </el-button>
                </el-form-item>
            </div>
        </el-form>
    </div>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../../plugins/axios/axios.min.js"></script>
<script src="../../../js/request.js"></script>
<script src="../../../js/index.js"></script>
<script src="./js/class.js"></script>
<script>
    new Vue({
        el: '#member-add-app',
        data() {
            return {
                id: '',
                actionType: '',
                ruleForm: {
                    grade: 1,
                    class: 1,
                    status:true
                },
                loading: false,
            }
        },
        computed: {
        },
        created() {
            this.id = requestUrlParam('id')
            this.actionType = this.id ? 'edit' : 'add'
            if (this.id) {
                this.init()
            }
        },
        mounted() {

        },
        methods: {
            async init() {
                queryClassById(this.id).then(res => {
                    if (String(res.code) === '1') {
                        const split = res.data.classId.split('.');
                        this.ruleForm.grade=split[0]
                        this.ruleForm.class=split[1]
                        this.ruleForm.status=res.data.status==1?true:false
                    } else {
                        this.$message.error(res.msg || '操作失败')
                    }
                })
            },
            submitForm(formName, st) {
                const data = {
                    grade: this.ruleForm.grade,
                    class: this.ruleForm.class,
                    status: this.ruleForm.status==true?1:0
                }
                if (this.actionType==="add") {
                    addClass(data).then(res => {
                        if (res.code === 1) {
                            this.$message.success('添加班级成功！')
                            if (!st) {
                                this.goBack()
                            } else {
                                this.ruleForm = {
                                    'grade': '',
                                    'class': '',
                                    'status': true
                                }
                            }
                        } else {
                            this.$message.error(res.msg || '操作失败')
                        }
                    }).catch(err => {
                        this.$message.error('请求出错了：' + err)
                    })
                }else {
                    //正能增删，不能修改
                }
            },
            goBack() {
                window.parent.menuHandle({
                    id: 'userManage',
                    url: '/ppai/page/manage/class/classList.html',
                    name: '班级管理'
                }, false)
            }
        }
    })
</script>
</body>
</html>