

.container {
    align-items: flex-start;
    display: flex;
    justify-content: center;
}


#question-app{
    padding: 0;
    display: flex;
    justify-content: center;
}
.question{
    display: flex;
}
.question-input{
    background-color: #e5e7eb;
    border-color: transparent;
    line-height: 40px;
    padding: 6px 40px 6px 12px;
    outline: 0;
    font-size: 20px !important;
    box-sizing: content-box;
    background-position: 192px 50%;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    width: 95%;
}
.question-title{
    font-size: 20px;
    line-height: 40px;
    margin-right: 20px;
}

.question-button{
    float: right;
    font-size: 20px;
    line-height: 40px;
}
.question-menu{
    position: relative;
}
.button-container button{
    color: white;
    background: #00AEEC;
    border: 1px solid ;
    font-size: 16px;
    border-radius: 5px;
    height: 40px;
}
.button-container{
    margin: 5px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    z-index: 1000;
}
.button-container button{
    margin-left: 10px;
}

.highLight-container{
    margin:100px
}
.highLight-container .highLight-title{
    border: solid gray;
}

.annotation-container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}
.annotation-container button{
    display: block;margin: 10px
}
