<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../../plugins/element-ui/index.css"/>
    <link rel="stylesheet" href="../../../styles/common.css"/>
    <link rel="stylesheet" href="../../../styles/page.css"/>
    <link rel="stylesheet" href="../css/highlight.css"/>
    <link rel="stylesheet" href="./css/annotation.css"/>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../../plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../../plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../../../plugins/axios/axios.min.js"></script>
    <script src="../../../plugins/jquery/jquery.js"></script>
    <script src="../../../js/request.js"></script>
    <script src="../../../js/common.js"></script>
    <script src="../../../js/index.js"></script>
    <script src="./js/annotation.js"></script>
    <script src="../js/hightLight.js"></script>
    <style>
        #annotationBatch-app .notAdmin::after {
            border: 0 !important;

        }
    </style>
</head>
<body>
<div class="dashboard-container" id="annotationBatch-app">
    <!--问题标题-->
    <div style="display: flex;align-items: center;" id="classtitle">
        <h1 style="color: #1cc7fa;margin-right: 20px">问题标题</h1>
        <el-popover
                placement="top-start"
                title="提示"
                width="200"
                trigger="hover"
                content="双击标题进去问题详情页面">
            <h1 id="question-title" slot="reference" @dblclick="toQuestionHtml">{{questionTitle}}</h1>
        </el-popover>
        <h1 id="highlight-word" style="background-color: yellow;margin-left: 20px">{{annotationWord}}</h1>
        <div id="editorMenu" class="button-container">
            <button style="background-color: grey" @click="editorAnnotaton">编辑</button>
            <button style="background-color: #00AEEC"
                    @click="dialogVisible_HighLight=true;">新增高亮显示
            </button>
            <button @click="dialogVisible_Annotation=true;" style="background-color: red">添加注释
            </button>
        </div>
    </div>
    <div id="annotationContainer" class="annotationBatch-container-page">

    </div>
    <div class="container bottom-bar bottom-flex">
        <div>
            <el-pagination
                    class="pageList"
                    :page-sizes="[10, 20, 30, 40,2]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="counts"
                    :current-page.sync="page"
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
            ></el-pagination>
        </div>
        <div style="margin-top: 25px;border: black 1px solid">
            <span style="font-weight: bold">所属成员:</span>
            <span
                    v-for="(item, index) in groupers"
                    :key="index">{{ item }}、</span>
        </div>
    </div>


    <div class="hightLight-container">
        <el-dialog
                title="新增高亮显示"
                :visible.sync="dialogVisible_HighLight"
                width="30%"
        >
            <div>
                <div style="margin: 25px;font-size: 18px">
                    <div class="keywords-title">已有的高亮显示:</div>
                    <div>
                        <div style="font-size:20px;" v-if="annotation.addHighlightFlag!==0">
                            你还未新增高亮词
                        </div>
                        <div v-else style="    color: #67c23a;background: #f0f9eb;border-color: #c2e7b0;"
                             v-for="(item, index) in addHighlightJsonArray"
                             :key="index"
                             class="keywords-span">{{ item }}<i @click="deleteKeyWord(index)"
                                                                class="el-icon-delete-solid"></i></div>
                    </div>
                    <div>
                        <div class="keywords-title">本次新增高亮显示:</div>
                        <div style=""
                             v-for="(item, index) in addHighlightJsonArray_new"
                             :key="index"
                             class="keywords-span">{{ item }}<i @click="deleteKeyWord(index)"
                                                                class="el-icon-delete-solid"></i></div>
                    </div>
                </div>
                <div style="display: flex;margin:20px">
                    <el-input v-model="input_" placeholder="请输入关键词,点击右侧按钮添加"></el-input>
                    <el-button type="primary" @click="keyWordAdd">添加+</el-button>
                </div>
            </div>
            <div style="display: flex;justify-content: center;">
                <el-button @click="dialogVisible_HighLight = false">取 消</el-button>
                <el-button type="primary" @click="addHighLight">保 存</el-button>
            </div>
            </span>
        </el-dialog>
    </div>
    <div class="annotationBatch-container">
        <el-dialog
                title="注释"
                :visible.sync="dialogVisible_Annotation"
                width="30%"
        >
            <div>
                <div>点击关键词进行注释</div>
                <div class="annotationBatch-container">
                    <el-button type="primary" v-for="(item, index) in hightLigtWord"
                               :key="index" @click="addAnnotationPage(item)"> {{item}}
                    </el-button>
                </div>
            </div>
        </el-dialog>
    </div>

</div>

<script>
    new Vue({
        el: '#annotationBatch-app',
        data() {
            return {
                name: '',
                counts: 0,
                page: 1,
                pageSize: 2,
                tableData: [],
                questionTitle: '',
                questionId: null,
                annotationWord: '',
                groupers: [],
                annotationId: undefined,
                dialogVisible_HighLight: false,
                dialogVisible_Annotation: false,
                input_: '',
                addHighlightJsonArray_new: [],
                annotation: {}

            }
        },
        computed: {
            hightLigtWord() {
                let arr = []
                if (this.annotation.addHighlightFlag && this.annotation.addHighlightFlag === 1) {
                    const addHightlightArray = JSON.parse(this.annotation.addHighlightJsonArray)
                    addHightlightArray.map(res => {
                        arr.push(res.word)
                    })
                }
                if (this.annotation.highlightFlag && this.annotation.highlightFlag === 1) {
                    arr = arr.concat(JSON.parse(this.annotation.highlightJsonArray))
                }
                return arr
                return arr;
            },
            content() {
                let content = ''
                this.tableData.map(res => {
                    content = content + res.content
                })
                return content
            }, addHighlightJsonArray() {
                if (this.annotation.addHighlightFlag)
                    return JSON.parse(this.question.addHighlightJsonArray)
            }
        },
        created() {
            this.annotationId = requestUrlParam('annotationId');
        },
        mounted() {
            this.init()
        },
        methods: {
            deleteKeyWord(index) {
                this.addHighlightJsonArray_new.splice(index, 1)
            },
            keyWordAdd() {
                this.input_ = this.input_.trim()
                if (this.input_) {
                    if (this.content.indexOf(this.input_) < 0) {
                        this.$message.error(this.input_ + "没有出现在正文中")
                        return;
                    }
                    if (this.hightLigtWord) {
                        for (let i = 0; i < this.hightLigtWord.length; i++) {
                            if (this.hightLigtWord[i].indexOf(this.input_) > -1) {
                                this.$message.error(this.hightLigtWord[i] + "已经高亮显示，请重试")
                                return
                            }
                        }
                    }
                    if (this.addHighlightJsonArray_new) {
                        for (let i = 0; i < this.addHighlightJsonArray_new.length; i++) {
                            if (this.addHighlightJsonArray_new[i].indexOf(this.input_) > -1) {
                                this.$message.error(this.input_ + "已经高亮显示，请重试")
                                return
                            }
                        }
                    }
                    this.addHighlightJsonArray_new.push(this.input_)
                    this.input_ = ''
                }
            }
            ,
            handleQuery() {
                this.page = 1;
                this.init();
            },
            handleSizeChange(val) {
                this.pageSize = val
                this.init()
            },
            handleCurrentChange(val) {
                this.page = val
                this.init()
            },
            init() {
                const params = {
                    page: this.page,
                    pageSize: this.pageSize,
                    annotationId: this.annotationId
                }
                getAnnotationListByAnnotationId(params).then(res => {
                    if (res.code === 1) {
                        $('#annotationContainer').empty()
                        this.tableData = res.data.pageInfo.list || []
                        this.annotation = res.data.annotation
                        this.annotationWord = this.annotation.annotationWord
                        this.questionTitle = this.annotation.questionTitle
                        this.questionId = this.annotation.questionId
                        this.counts = res.data.pageInfo.total
                        const groupMembersList = res.map.groupMembersList
                        groupMembersList.map((member) => {
                            this.groupers.push(member.userName)
                        })
                        loadAnnotationContainer(this.tableData)
                        dealHightLight.excute(this.annotation, $('.richText'))
                    }
                })
            }, editorAnnotaton() {
                window.parent.menuHandle({
                    menuId: 'updateAnnotation',
                    name: '修改注释',
                    url: '/ppat/page/classroom/annotation/editAnnotationForQuestion.html?annotationId=' + this.annotationId +
                        '&questionId=' + this.questionId +
                        '&annotationWord=' + encodeURI(this.annotationWord) +
                        '&questionTitle=' + encodeURI(this.questionTitle)
                }, true);
            },
            toQuestionHtml() {
                window.parent.menuHandle({
                    menuId: 'question',
                    name: '问题详情',
                    url: '/ppat/page/classroom/question/question.html?questionId=' + this.questionId
                }, true);
            }, addAnnotationPage() {

            },
            addHighLight() {
                this.dialogVisible_HighLight = false
                //把新增的内容重复的去掉
                const arr = JSON.stringify(this.addHighlightJsonArray_new)
                //发送后台处理
                addHighLightAnnotation(this.annotation.annotationId, arr).then(res => {
                    if (res.code === 1) {
                        this.$message.success("添加成功")
                        this.question.addHighlightFlag = res.data.addHighlightFlag
                        this.question.addHighlightJsonArray = res.data.addHighlightJsonArray
                        let _content = $('#question-content');
                        dealHightLight.excute(res.data, _content.get(0));
                        this.addHighlightJsonArray_new = []
                    }
                });
            }
        }
    })
</script>
</body>
</html>