<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../../plugins/element-ui/index.css"/>
    <link rel="stylesheet" href="../../../styles/common.css"/>
    <link rel="stylesheet" href="../../../styles/page.css"/>
    <link rel="stylesheet" href="../css/highlight.css"/>
    <style>
        span[title] {

            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
            cursor: help; /* 鼠标指针样式 */
            transition: all 0.3s ease-in-out; /* 动画效果 */
        }

        span[title]:hover:after {

            content: attr(title);
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: #333;
            color: #fff;
            padding: 5px;
            border-radius: 5px;
            opacity: 0.9; /* 透明度 */
            z-index: 9999; /* 置于最上方 */
        }
    </style>
</head>
<body>
<div class="addBrand-container" style="margin-left: 40px" id="question-app">
    <div class="question" style="width: 80%">
        <div class="question-title">问题标题</div>
        <div style="width: 80%">
            <!--问题输入框-->
            <div class="question-menu">
                <input type="text" id="question-input" class="question-input" readonly v-model="question.title">
                <div id="editorMenu" class="button-container" style="  position: absolute; z-index: 1000;">
                    <button style="background-color: grey" @click="editQuestion">编辑</button>
                    <button style="background-color: #00AEEC"
                            @click="dialogVisible_HighLight=true;">新增高亮显示
                    </button>
                    <button @click="dialogVisible_Annotation=true;" style="background-color: red">添加注释
                    </button>
                </div>
            </div>
            <div id="question-content" style="width: 100%;border: grey solid 2px"
                 class="content-container">
            </div>
            <div class="bottom-bar">
                <span style="font-weight: bold">所属成员:</span>
                <span
                        v-for="(item, index) in groupers"
                        :key="index">{{ item }}、</span>
            </div>
        </div>
    </div>

    <div class="hightLight-container">
        <el-dialog
                title="新增高亮显示"
                :visible.sync="dialogVisible_HighLight"
                width="30%"
        >
            <div>
                <div style="margin: 25px;font-size: 18px">
                    <div class="keywords-title">已有的高亮显示:</div>
                    <div>
                        <div style="font-size:20px;" v-if="!question.addJsonArray">
                            你还未新增高亮词
                        </div>
                        <div v-else style="    color: #67c23a;background: #f0f9eb;border-color: #c2e7b0;"
                             v-for="(item, index) in addJsonArray"
                             :key="index"
                             class="keywords-span">{{ item.word }}<i @click="deleteKeyWord(index)"
                                                                     class="el-icon-delete-solid"></i></div>
                    </div>
                    <div>
                        <div class="keywords-title">本次新增高亮显示:</div>
                        <div style=""
                             v-for="(item, index) in addHighlightJsonArray_new"
                             :key="index"
                             class="keywords-span">{{ item }}<i @click="deleteKeyWord(index)"
                                                                class="el-icon-delete-solid"></i></div>
                    </div>
                </div>
                <div style="display: flex;margin:20px">
                    <el-input v-model="input_" placeholder="请输入关键词,点击右侧按钮添加"></el-input>
                    <el-button type="primary" @click="keyWordAdd">添加+</el-button>
                </div>
            </div>
            <div style="display: flex;justify-content: center;">
                <el-button @click="dialogVisible_HighLight = false">取 消</el-button>
                <el-button type="primary" @click="addHighLight">保 存</el-button>
            </div>
            </span>
        </el-dialog>
    </div>
    <div class="annotationBatch-container">
        <el-dialog
                title="注释"
                :visible.sync="dialogVisible_Annotation"
                width="30%"
        >
            <div>
                <div>点击关键词进行注释</div>
                <div class="annotationBatch-container">
                    <el-button type="primary" v-for="(item, index) in allHighLight"
                               :key="index" @click="addAnnotationPage(item)"> {{item}}
                    </el-button>
                </div>
            </div>
        </el-dialog>
    </div>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../../plugins/axios/axios.min.js"></script>
<script src="../../../js/request.js"></script>
<script src="../../../js/validate.js"></script>
<script src="../../../js/index.js"></script>
<script src="../../../js/common.js"></script>
<script src="./js/question.js"></script>
<script src="../../../plugins/jquery/jquery.js"></script>
<script src="../js/hightLight.js"></script>

<script>
    new Vue({
        el: '#question-app',
        data() {
            return {
                question: {title: '你还没有添加问题'},
                dialogVisible_HighLight: false,
                dialogVisible_Annotation: false,
                addHighlightJsonArray_new: [],
                input_: '',
                groupers: [],
                content: ''
            }
        },
        computed: {
            allHighLight() {
                let arr = []
                if (this.question.addJsonArray) {
                    const addJsonArray = JSON.parse(this.question.addJsonArray)
                    addJsonArray.map(res => {
                        arr.push(res.word)
                    })
                }
                if (this.question.coreJsonArray) {
                    arr = arr.concat(JSON.parse(this.question.coreJsonArray))
                }
                if (this.question.geneJsonArray) {
                    arr = arr.concat(JSON.parse(this.question.geneJsonArray))
                }
                return arr
            },
            addJsonArray() {
                if (this.question.addJsonArray) {
                    return JSON.parse(this.question.addJsonArray)
                }
                return []
            }
        },
        created() {

        },
        mounted() {
            //将新增注册到window上以便jquery生成的dom调用
            window.addAnnotationPage = this.addAnnotationPage
            const questionId = requestUrlParam('questionId');
            if (questionId) {
                getQuestionByIdAxios(questionId).then((res) => {
                    if (res.code === 1) {
                        this.question = res.data
                        this.content = res.data.content
                        let _content = $('#question-content');
                        _content.append(res.data.html);
                        dealHightLight.excute(res.data, _content.get(0));
                        const groupMembersList = res.map.groupMembersList
                        groupMembersList.map((member) => {
                            this.groupers.push(member.userName)
                        })
                    } else {
                        //window.location.href = '/ppat/page/classroom/question/addQuestion.html'
                        window.parent.menuHandle({
                            menuId: 'question',
                            name: '新建问题和回答',
                            url: '/ppat/page/classroom/question/addQuestion.html'
                        }, false);

                    }
                })
            } else {
                //获取自己新建的问题
                getQuestionBySelf().then(
                    res => {
                        if (res.code === 1) {
                            this.question = res.data
                            this.content = res.data.content
                            //用jq渲染页面
                            let _content = $('#question-content');
                            _content.append(res.data.html);
                            const groupMembersList = res.map.GroupMembersList
                            groupMembersList.map((member) => {
                                this.groupers.push(member.userName)
                            })
                            dealHightLight.excute(this.question, _content.get(0))
                        } else {
                            //window.location.href = '/ppat/page/classroom/question/addQuestion.html'
                            window.parent.menuHandle({
                                menuId: 'question',
                                name: '新建问题和回答',
                                url: '/ppat/page/classroom/question/addQuestion.html'
                            }, false);
                        }
                    }
                );
            }
        },
        methods: {
            deleteKeyWord(index) {
                this.addHighlightJsonArray_new.splice(index, 1)
            },
            keyWordAdd() {
                this.input_ = this.input_.trim()
                if (this.input_) {
                    if (this.content.indexOf(this.input_) < 0) {
                        this.$message.error(this.input_ + "没有出现在正文中")
                        return;
                    }
                    if (this.question.coreJsonArray) {
                        const coreJsonArray = JSON.parse(this.question.coreJsonArray)
                        for (let i = 0; i < coreJsonArray.length; i++) {
                            if (coreJsonArray[i].indexOf(this.input_) > -1) {
                                this.$message.error(coreJsonArray[i] + "已经高亮显示，请重试")
                                return
                            }
                        }
                    }
                    if (this.question.geneJsonArray) {
                        const geneJsonArray = JSON.parse(this.question.geneJsonArray)
                        for (let i = 0; i < geneJsonArray.length; i++) {
                            if (geneJsonArray[i].indexOf(this.input_) > -1) {
                                this.$message.error(geneJsonArray[i] + "已经高亮显示，请重试")
                                return
                            }
                        }
                    }
                    if (this.addHighlightJsonArray_new) {
                        for (let i = 0; i < this.addHighlightJsonArray_new.length; i++) {
                            if (this.addHighlightJsonArray_new[i].indexOf(this.input_) > -1) {
                                this.$message.error(this.input_ + "已经高亮显示，请重试")
                                return
                            }
                        }
                    }
                    //把已经高亮的去掉_蓝色
                    if (this.question.addJsonArray) {
                        const addJsonArray = JSON.parse(this.question.addJsonArray)
                        for (let i = 0; i < addJsonArray.length; i++) {
                            if (addJsonArray[i].word.indexOf(this.input_) > -1) {
                                this.$message.error(this.input_ + "已经高亮显示，请重试")
                                return
                            }
                        }
                    }
                    this.addHighlightJsonArray_new.push(this.input_)
                    this.input_ = ''
                }
            }
            ,
            addHighLight() {
                this.dialogVisible_HighLight = false
                //把新增的内容重复的去掉
                const arr = JSON.stringify(this.addHighlightJsonArray_new)
                //发送后台处理
                addHighLight_(this.question.questionId, arr).then(res => {
                    if (res.code === 1) {
                        this.$message.success("添加成功")
                        this.question.addJsonArray = res.data.addJsonArray
                        let _content = $('#question-content');
                        dealHightLight.excute(res.data, _content.get(0));
                        this.addHighlightJsonArray_new = []
                    }
                });
            }
            ,
            editQuestion() {
                //window.location.href = '/ppat/page/classroom/question/addQuestion.html?questionId=' + this.question.questionId
                window.parent.menuHandle({
                    menuId: 'editorQuestion',
                    name: '编辑问题',
                    url: '/ppat/page/classroom/question/addQuestion.html?questionId=' + this.question.questionId
                }, true);

            }
            ,
            addAnnotationPage(item) {
                if (this.question.annotationFlag && this.question.annotationFlag === 1) {
                    const annotationJsonArray = JSON.parse(this.question.annotationJsonArray)
                    annotationJsonArray.map(res => {
                        if (res.annotationWord === item) {
                            toAnnotation(res.annotationGroupId);
                        }
                    })
                }
                /* window.location.href = '/ppat/page/classroom/question/addAnnotation.html?' +
                     'questionId='+ this.question.questionId+"&"+
                     'annotationWord='+encodeURI(item)+"&"+
                     'questionTitle='+encodeURI(this.question.title)*/
                const href = '/ppat/page/classroom/annotation/addAnnotationForQuestion.html?' +
                    'questionId=' + this.question.questionId + "&" +
                    'annotationWord=' + encodeURI(item) + "&" +
                    'questionTitle=' + encodeURI(this.question.title)
                window.parent.menuHandle({menuId: 'addAnnotation', name: '添加注释', url: href}, true);
            },
        }

    })

    function toAnnotation(annotationGroupId) {
        window.parent.menuHandle({
            menuId: 'annotationBatch',
            name: '注释详情',
            url: '/ppat/page/classroom/annotation/annotationForQuestion.html?' +
                'annotationGroupId=' + annotationGroupId

        }, true);
    }

    function addAnnotationJS(annotationWord) {
        window.addAnnotationPage(annotationWord)
    }
</script>
</body>
</html>

